{% extends "dockerlabs/base.html" %}

{% block content %}

<style>
    .link-dark {
        color: #0d6efd !important;
        text-decoration: none;
        font-weight: 500;
    }

    .link-dark:hover {
        text-decoration: underline;
    }
</style>

<div class="container mt-5">
    <h1 class="title">Agradecimientos</h1>

    <p class="mt-4">
        Queremos dar las gracias a todas las personas y comunidades que colaboran con DockerLabs,
        ya sea creando máquinas, aportando ideas, ayudando a mejorar la plataforma o detectando bugs.
        Sin su apoyo, este proyecto no sería posible.
    </p>

    <div class="card p-4 mt-4 mb-5 colaboradores-card">
        <div class="colaboradores-grid">
            <a href="https://github.com/D1se0" target="_blank" class="colaborador glow-dise0">
                <img src="/static/dockerlabs/images/agradecimientos/diseo.png" alt="D1se0">
                <span>D1se0</span>
            </a>

            <a href="https://thehackerslabs.com/" target="_blank" class="colaborador glow-thl">
                <img src="/static/dockerlabs/images/agradecimientos/thl.png" alt="The Hackers Labs">
                <span>The Hackers Labs</span>
            </a>

            <a href="https://hackmyvm.eu/" target="_blank" class="colaborador glow-hackmyvm">
                <img src="/static/dockerlabs/images/agradecimientos/hmv.png" alt="HackMyVM">
                <span>HackMyVM</span>
            </a>

            <a href="https://github.com/Pylonet" target="_blank" class="colaborador glow-pylon">
                <img src="/static/dockerlabs/images/agradecimientos/pylon.jpg" alt="Pylon">
                <span>Pylon</span>
            </a>

            <a href="https://github.com/Santitub" target="_blank" class="colaborador glow-santitub">
                <img src="/static/dockerlabs/images/agradecimientos/santitub.png" alt="Santitub">
                <span>Santitub</span>
            </a>

            <a href="https://github.com/Maciferna" target="_blank" class="colaborador glow-maciferna">
                <img src="/static/dockerlabs/images/agradecimientos/maci.png" alt="Maciiii__">
                <span>Maciiii__</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}