{% extends "base.html" %}

{% block content %}

<style>
    .link-dark {
        color: #0d6efd !important;
        text-decoration: none;
        font-weight: 500;
    }
    .link-dark:hover {
        text-decoration: underline;
    }
</style>

<div class="container mt-5">
    <h1 class="title">Agradecimientos</h1>

    <p class="mt-4">
        Queremos dar las gracias a todas las personas y comunidades que colaboran con DockerLabs,
        ya sea creando máquinas, aportando ideas, ayudando a mejorar la plataforma o detectando bugs.
        Sin su apoyo, este proyecto no sería posible.
    </p>

    <div class="card p-4 mt-4 mb-5">
        <h3 class="subtitle">Colaboradores destacados</h3>

        <ul class="mt-3" style="list-style: none; padding-left: 0;">
            <li class="mt-2">
                <a href="https://github.com/D1se0" target="_blank" class="link-dark">D1se0</a>
            </li>

            <li class="mt-2">
                <a href="https://thehackerslabs.com/" target="_blank" class="link-dark">The Hackers Labs</a>
            </li>

            <li class="mt-2">
                <a href="https://hackmyvm.eu/" target="_blank" class="link-dark">HackMyVM</a>
            </li>

            <li class="mt-2">
                <a href="https://www.linkedin.com/in/miguel-anxo-garc%C3%ADa-gonz%C3%A1lez-aka-pylon-454b3a291/?trk=public_post_comment_actor-image"
                   target="_blank" class="link-dark">Pylon</a>
            </li>

            <li class="mt-2">
                <a href="https://github.com/Santitub" target="_blank" class="link-dark">Santitub</a>
            </li>

            <li class="mt-2">
                <a href="https://github.com/Maciferna" target="_blank" class="link-dark">Maciiii__</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
